@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* init olive (primary) */
  --brand-olive-900: #363d25;
  --brand-olive-800: #464f31;
  --brand-olive-700: #57633d;
  --brand-olive-600: #6f7d50;
  --brand-olive-500: #889863;
  --brand-olive-400: #a7b782;
  --brand-olive-300: #c5d3a5;
  --brand-olive-200: #e2ebd0;

  /* init neutral */
  --brand-neutral-800: #262626;
  --brand-neutral-700: #404040;
  --brand-neutral-600: #525252;
  --brand-neutral-500: #737373;
  --brand-neutral-400: #a3a3a3;
  --brand-neutral-300: #d4d4d4;
  --brand-neutral-200: #e5e5e5;
  --brand-neutral-100: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* reg olive */
  --color-brand-olive-900: var(--brand-olive-900);
  --color-brand-olive-800: var(--brand-olive-800);
  --color-brand-olive-700: var(--brand-olive-700);
  --color-brand-olive-600: var(--brand-olive-600);
  --color-brand-olive-500: var(--brand-olive-500);
  --color-brand-olive-400: var(--brand-olive-400);
  --color-brand-olive-300: var(--brand-olive-300);
  --color-brand-olive-200: var(--brand-olive-200);

  /* reg neutral */
  --color-brand-neutral-800: var(--brand-neutral-800);
  --color-brand-neutral-700: var(--brand-neutral-700);
  --color-brand-neutral-600: var(--brand-neutral-600);
  --color-brand-neutral-500: var(--brand-neutral-500);
  --color-brand-neutral-400: var(--brand-neutral-400);
  --color-brand-neutral-300: var(--brand-neutral-300);
  --color-brand-neutral-200: var(--brand-neutral-200);
  --color-brand-neutral-100: var(--brand-neutral-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* trans neutral */
    --brand-neutral-100: #171717;
    --brand-neutral-200: #262626;
    --brand-neutral-300: #404040;
    --brand-neutral-400: #525252;
    --brand-neutral-500: #737373;
    --brand-neutral-600: #a3a3a3;
    --brand-neutral-700: #d4d4d4;
    --brand-neutral-800: #f5f5f5;

    /* trans olive */
    --brand-olive-800: #c5d3a5;
    --brand-olive-700: #a7b782;
    --brand-olive-600: #889863;
    --brand-olive-500: #6f7d50;
    --brand-olive-400: #57633d;
    --brand-olive-300: #464f31;
    --brand-olive-200: #363d25;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
